<!doctype html>
<html lang="en">
<head>

	<title>Chervicon Training Consultants</title>

     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport"  content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="images/favicon.ico" sizes="256x256" type="image/vnd.microsoft.icon">
    
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body ng-app="chervicon" ng-controller="cherviconCtrl">
	 <div class='container'>
 <!--Temp content-->
 <div class="container-fluid">
 <div class="row">
<div class="col-md-2"><img class="reduce-image" src="images/logo_600px.jpg" class="img-responsive" class='img-circle' alt="Responsive Logo Image"></div>
<div class="col-md-10">

<div class="masthead">
    <!--<img class="reduce-image" src="images/logo_600px.jpg" class="img-responsive" class='img-circle' alt="Responsive Logo Image"> -->
        <h3 class='text-muted'>CHERVICON TRAINING CONSULTANTS</h3>
 
        
        <nav>
          <!--<ul class="nav nav-justified">
            <li ng-show="hide_home"><a ui-sref='home'>Home</a></li>
             
            <li><a ng-click="hide_home=true" ui-sref="about">About</a></li>
            <li><a ng-click="hide_home=true" ui-sref="contact">Contact</a></li>
            
            <li><a ng-click="hide_home=true" ui-sref="slideshow">Slideshow</a></li>
            <li><a ng-click="hide_home=true" ui-sref="courses">Courses</a></li>-->
            <ul class="nav nav-justified">
            <li ng-show="hide_home"><a ui-sref='home'>Home</a></li>
             
            <li><a ng-click="hide_home=true" ui-sref="about">About</a></li>
            <li><a ng-click="hide_home=true" ui-sref="contact">Contact</a></li>
            <!--<li><a href="#">Projects</a></li>-->
            <li><a ng-click="hide_home=true" ui-sref="slideshow">Slideshow</a></li>
            <li><a ng-click="hide_home=true" ui-sref="courses">Courses</a></li>
            
                      
          </ul>
        </nav>
    
      </div>
      


</div>
 </div>
</div>
      

         <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>"Training To Excel"</h1>
        <p class="lead">To provide quality, affordable, skill-enhancing training for Papua New Guineans who do not have formal training in the customer service and hospitality industry.
Our courses can be tailored to suit the needs of the different organisations without deviating from our principal goal of providing practical skills training to people who have little or no formal knowledge of working in the hospitality / customer service industry.</p>
       
       <p> <a target="_blank" title="follow me on facebook" href="https://www.facebook.com/Chervicon-Training-Consultants-963832503762823/?__mref=message_bubble"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/badgefacebook.png" border=0></a> </p>
       
      </div> 
       <div ng-controller="cherviconCourouselCtrl"><ui-view></ui-view>
       </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
         <h2>Notifications</h2>
          <p class="text-danger">Upcoming Events will be posted here for interested applicants </p>
          <p><a class="btn btn-primary" ui-sref="notice" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Courses Offered</h2>
          <p>i. Hotel Staff Training Programme (On-Site)

Front Desk    K600 per person/ day
Housekeeping    K600 per person/ day
Waitressing   K600 per person/ day
Kitchen   K600 per person/ day
Cost of complete Course “Hotel Staff Training Programme (On-Site)” 
K2, 400 per person for 4 days </p>
<p>ii. Hotel Staff Training Programme (Classroom Training)

Front Desk    K743 per person/ day
Housekeeping    K743 per person/ day
Waitressing   K743 per person/ day
Kitchen   K743 per person/ day
Cost of complete Course “Hotel Staff Training Programme (Classroom Training)” 
K2, 972 per person for 4 days</p>
<p>iii. Building and Establishing Customer Relationships
K743 per person/ day
Cost covers course workbook and stationary as well as morning/afternoon tea and lunch.</p>
          <p><a class="btn btn-primary" ui-sref="courseDetails" role="button">Course details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Microsoft Office Course</h2>
          MICROSOFT OFFICE SKILLS TRAINING
PROGRAMME OBJECTIVE: 
This programme is designed for staff in any organisation, the basic knowledge of the applications in the Microsoft Office (MSO) Suite and their main features. It will give participants the knowledge and skills needed to carry out any task by creating spreadsheets, documents, PowerPoint or simply by using the templates of the different applications in the MSO Suite.
TARGET GROUP: 
Staff in office administration roles, data entry staff and anyone who does a range of tasks that requires the use of a computer to set up, lay out and/ or present data.
LEARNING BENEFIT: 


          <p><a class="btn btn-primary" ui-sref="venue" role="button">View details &raquo;</a></p>
        </div>

      </div>



  <!-- Site footer -->
  <footer class="footer">
     <div class="row">
      <!--<footer class="footer">
        <p>&copy; NICT Consultants, Inc.</p>
        <p>Wesite is Powered by DIGITALOCEAN</p> -->
        <div class="col-xs-6">
          <div class-"container">
            <div class='row'>
              <div>
                <div><p> <a target="_blank" title="follow me on facebook" href="https://www.facebook.com/alois.napitalai"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/badgefacebook.png" border=0></a> </p>
             

           <p><!-- Place this code where you want the badge to render. -->
<a href="//plus.google.com/u/0/109342500127739851311?prsrc=3"
   rel="publisher" target="_top" style="text-decoration:none;">
<img src="//ssl.gstatic.com/images/icons/gplus-64.png" alt="Google+" style="border:0;width:64px;height:64px;"/>
</a>
           </p>

                </div>

        <p>&copy; NICT Consultants, Inc.</p>
        <p>Website is Powered by DIGITALOCEAN</p>
      </div></div></div>

      </div>

        <div class="col-xs-6">
    <img class="reduce-motto-image" src="images/motto.jpg" class="img-responsive" class='img-circle' alt="Responsive Logo Image">
        <h3 class="text-muted">CHERVICON TRAINING CONSULTANTS</h3>
        </div>
    
</div>
</footer>
</div> <!--end of div container-->



<script type="text/javascript" src="node_modules/angular/angular.js"></script>
<script type="text/javascript" src="node_modules/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>

<!--Modules and controllers-->
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="components/chervicon.ctrl.js"></script>
<script type="text/javascript" src="components/chervicon.courousel.ctrl.js"></script>
<script type="text/javascript" src="components/chervicon.modal.ctrl.js"></script>
<script type="text/javascript" src="components/courseDetails.ctrl.js"></script>

<script type="text/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="node_modules/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="node_modules/angular-material/angular-material.js"></script>
<script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
<link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.css">

<link rel="stylesheet" type="text/css" href="css/justify.css">
<link rel="stylesheet" type="text/css" href="css/logo.css">
<link rel="stylesheet" type="text/css" href="css/motto.css">





</body>
</html>