<h3>About the Business</h3>
<div class="container">
	<hr>
<img src="images/winnie.jpg" class="img-responsive img-circle" alt="Responsive Logo Image">
</div>
<hr>
<p>Vinoria is a registered instructor with the National Training Council (NTC) under the PNG Institute of Management. Her expertise is in the customer services industry. 

For the past 3 years, Vinoria has conducted courses for the PNG Institute of Management, in the areas of hospitality, health and safety, basic work practices and frontline staff management predominantly in the retail industry.

She holds a bachelor’s degree in Arts – Political Science, the National Certificate in Adult Education and Training and Certificate in Human Resource Management.
</p>
<hr></br>
<p>Chervicon Training Consultants was established to provide affordable, skill-enhancing customer service and hospitality training for frontline staff.
We see the need for proper staff training in the hospitality / customer service industry as we believe staff can perform better in their jobs if there is a good balance in their skill set.
Customer complaints arise in service companies because staff lack the basic competency required to act in a professional manner with courtesy when dealing with customers, whether it be face to face or over the phone.

This is partly due to the fact that there are staff, on one hand, who have the technical skills but lack the people skills and on the other hand there are those who lack both the technical and people skills and because they are new to the hospitality or customer service industry and lack formal education and training to equip them for their new jobs.
We believe that with proper skill-enhancing training, we are able to develop in staff, the understanding and appreciation for customer/ clients, who are most important to the organisation.  It is not just important to have the knowledge and skills to do the job, staff must also have the people skills to be able to serve their customers in a way that portrays excellent customer service.</p><hr>