<div class="container">

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Course Details/Prices</div>
  <div class="panel-body">
    <p>i. Hotel Staff Training Programme(on-site)-Cost of complete Course is K2, 400 per person for 4 days</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Front Desk-K600/head/day</li>
    <li class="list-group-item">Housekeeping-600/head/day</li>
    <li class="list-group-item">Waitressing-K600/head/day</li>
    <li class="list-group-item">Kitchen-K600/head/day</li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-body">
    <p>ii. Hotel Staff Training Programme(Classroom training)-Cost of complete Course is K2, 972 per person for 4 days</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">Front Desk-K743/head/day</li>
    <li class="list-group-item">Housekeeping-600/head/day</li>
    <li class="list-group-item">Waitressing-K600/head/day</li>
    <li class="list-group-item">Kitchen-K600/head/day</li>
  </ul>
</div>


<div class="panel panel-primary">
  <!-- Default panel contents -->

  <div class="panel-body">
    <p>iii. Building and Establishing Customer Relationships K743 per person/ day Cost covers course workbook and stationary as well as morning/afternoon tea and lunch.</p>
  </div>
</div>

</div>