<div class="list-group">
  <a href="#" class="list-group-item active">
    Courses Offered
  </a>
  <a href="#" class="list-group-item">Front Desk</a>
  <a href="#" class="list-group-item">House Keeping</a>
  <a href="#" class="list-group-item">Waitressing</a>
  <a href="#" class="list-group-item">Kitchen</a>
   <a href="#" class="list-group-item">Hotel Staff Training</a>
  <a href="#" class="list-group-item">Building and Establishing Customer Relations</a>
  <a href="#" class="list-group-item">Waitressing</a>
  <a href="#" class="list-group-item">Kitchen</a>
    <a href="#" class="list-group-item">Microsoft Word</a>
  <a href="#" class="list-group-item">Microsoft Excel</a>
  <a href="#" class="list-group-item">Mircosoft Powerpoint</a>
  <a href="#" class="list-group-item">Microsoft Outlook</a>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="cherviconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>