<h1>MICROSOFT OFFICE SKILLS TRAINING</h1>
<h2>PROGRAMME OBJECTIVE:</h2> 
<p>This programme is designed for staff in any organisation, the basic knowledge of the applications in the Microsoft Office (MSO) Suite and their main features. It will give participants the knowledge and skills needed to carry out any task by creating spreadsheets, documents, PowerPoint or simply by using the templates of the different applications in the MSO Suite.
TARGET GROUP: 
Staff in office administration roles, data entry staff and anyone who does a range of tasks that requires the use of a computer to set up, lay out and/ or present data.
LEARNING BENEFIT: 
At the end of this programme, participants should be able to:
Create, Save and Retrieve existing files from the MSO application they are working on;
Identify and use the different tools and commands in MSO 2010 applications to create documents, spreadsheets, slides, and so on; as well as customising them to suit personal preferences or company standards and requirements;
TRAINING STRUCTURE: 
Over the duration of this programme, participants will cover four (4) MSO applications per day and they are: Word, Excel, PowerPoint and Outlook. This is a very hands-on programme, which allows participants to try out and test the information they are receiving all at the same time. This makes it easier for them to receive assistance from the trainers when required.
TRAINER: 		Vinoria Isoroembo (National Training Council certified)
DURATION: 	4 days (1 day/MSO Application)
VENUE:		Lamana Hotel Conference Rooms or Clients’ premises
COST:		<b><i>K743 per person/ day</i></b></p>
